/*********************************************************************
The blue-star image (for watched pages) comes from the original Wikipedia Vector
theme, and is most likely under a Creative Commons licence. Check the original
source on Wikipedia for licensing conditions. It was copied into this file on
2016-08-10 from the URL:
https://fr.wikipedia.org/w/load.php?debug=false&lang=fr&modules=ext.cite.styles%7Cext.echo.badgeicons%7Cext.echo.styles.badge%7Cext.gadget.ArchiveLinks%2CExternalSearch%2CMonobookToolbarStandard%2CWdsearch%2CWikiMiniAtlas%2CWikiOpenStreetMap%2CnewCollapsible%7Cext.tmh.thumbnail.styles%7Cext.uls.nojs%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.page.gallery.styles%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector

The rest of this file is free and unencumbered software released into the public
domain.

Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.


For more information, please refer to <http://unlicense.org/>
*********************************************************************/

/*
WiTeX
https://github.com/AndrewBelt/WiTeX
*/


/* Latin Modern (LaTeX default) font */

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bolditalic.woff') format('woff');
}

pt-userpage, #ca-edit, #ca-ve-edit, #p-views, div.vectorTabs ul, div.vectorTabs span{ 
	background: none; 
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: italic;
	src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-italic.woff') format('woff');
}

/* Page Layout */

body {
	background: none;
	font-size: 14pt;
	font-family: 'Latin Modern Roman', serif;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
	font-weight: bold;
}

a, a:visited, div.vectorTabs li a {
	color: #a00;
}

a.new, a.new:visited {
	color: black;
}

ul {
	list-style: disc;
}

/* Shift star on baseline */
#ca-unwatch.icon a, #ca-watch.icon a, #ca-unwatch.icon a.loading, #ca-watch.icon a.loading {
	/*background-position: 5px 21px !important;*/
	background-position: 5px 69% !important;
	transform-origin: 50% 64% !important; /* Calculating with original WP values, should be y=66% but looks better with y=64% */
}

/* nuke most things */
#mw-page-base,#mw-head-base{
	visibility:hidden;
}
#left-navigation, #mw-panel, #ca-view, #ca-history, #ca-watch, #p-cactions, #footer, #featured-star, .topicon{
	background: none !important;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

/* #ca-unwatch > *{ */
/* 	opacity: 0; */
/* 	-webkit-transition: opacity 0.5s ease-in-out; */
/* 	-moz-transition: opacity 0.5s ease-in-out; */
/* 	transition: opacity 0.5s ease-in-out; */
/* } */

/* #mw-navigation:hover #ca-unwatch > *{ */
/* 	opacity: 1; */
/* 	-webkit-transition: opacity 0.5s ease-in-out; */
/* 	-moz-transition: opacity 0.5s ease-in-out; */
/* 	transition: opacity 0.5s ease-in-out; */
/* } */

#ca-unwatch {
  background: none;
}

#ca-unwatch a:before{
	/* This image comes from Wikipedia */
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23c2edff%22%2F%3E%3Cstop%20offset%3D%22.5%22%20stop-color%3D%22%2368bdff%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23fff%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20x1%3D%2213.47%22%20y1%3D%2214.363%22%20x2%3D%224.596%22%20y2%3D%223.397%22%20id%3D%22b%22%20xlink%3Ahref%3D%22%23a%22%20gradientUnits%3D%22userSpaceOnUse%22%2F%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M8.103%201.146l2.175%204.408%204.864.707-3.52%203.431.831%204.845-4.351-2.287-4.351%202.287.831-4.845-3.52-3.431%204.864-.707z%22%20fill%3D%22url%28%23b%29%22%20stroke%3D%22%237cb5d1%22%20stroke-width%3D%220.9999199999999999%22%2F%3E%3C%2Fsvg%3E);
    width:16px;
    height:16px;
    content: "";
    /* position: absolute; */
    /* top:2ex; */
    /* right:2ex; */
    /* opacity: 0.3; */
    /* -webkit-transition: opacity 0.5s ease-in-out; */
    /* -moz-transition: opacity 0.5s ease-in-out; */
    /* transition: opacity 0.5s ease-in-out; */
}

#mw-navigation #ca-unwatch a:before {
  content: "";
  opacity: 0;
  height: 1.6em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#ca-unwatch a {
  overflow:visible !important; /* allow the #ca-unwatch to have a :after outside of the bounds of this element. */
}

#ca-unwatch a:after {
 content: "";
 width: 2em;
 height: 2em;
 position:fixed;
 top:2ex;
 right:2ex;
 background-repeat: no-repeat;
 background-position: top right;
 background-image: linear-gradient(transparent,transparent),url(/w/skins/Vector/resources/skins.vector.styles/images/unwatch-icon.svg?3de3e);
 opacity: 0.5;
 -webkit-transition: opacity 0.2s ease-in-out;
 -moz-transition: opacity 0.2s ease-in-out;
 transition: opacity 0.2s ease-in-out;
 transition-delay: 0.25s;
}

#ca-unwatch a {
 color:transparent; /* hide the text */
 background: none;
}

#mw-navigation:hover #ca-unwatch a:after {
   opacity: 0;
   -webkit-transition: opacity 0.2s ease-in-out;
   -moz-transition: opacity 0.2s ease-in-out;
   transition: opacity 0.2s ease-in-out;
}

#mw-navigation:hover #left-navigation, #mw-navigation:hover #ca-view, #mw-navigation:hover #ca-history, #mw-navigation:hover #ca-watch, #mw-navigation:hover #p-cactions, #featured-star:hover, .topicon:hover, #mw-navigation:hover #ca-unwatch a:before{
	opacity: 0.55;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#mw-navigation:hover #mw-panel, #footer:hover {
	opacity: 0.75;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#ca-edit, #ca-ve-edit, #ca-viewsource, #p-personal, #p-search{
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#mw-navigation:hover #ca-edit, #mw-navigation:hover #ca-ve-edit, #mw-navigation:hover #ca-viewsource, #mw-navigation:hover #p-personal, #mw-navigation:hover #p-search{
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#p-cactions-label, div.vectorTabs, div.vectorTabs ul li, .NavHead div, .NavFrame div, .navbox div, .navbox th, .navbox-title, .hlist div, th, table{
	background: none !important;
}
div.vectorMenu div.menu {
	border-top-width: 1px;
}

/* Content Box */

.mw-body {
	max-width: 720px;
	margin: 1em auto;
}

#content, div#content {
	border: none;
	color: black;
}

#firstHeading, #siteSub {
	text-align: center;
	display: block;
}

#siteSub {
	margin-top: -0.5em;
	margin-bottom: 4em;
}

/* Article Body */

.mw-body-content {
	font-size: inherit;
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: 1.5em;
}

.mw-body {
	padding: 2em 0;
}

.mw-body h1, .mw-body h2, .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6, div#content h1, div#content h2, div#content #firstHeading {
	font-family: inherit;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.mw-body h1, div#content h1 {
	font-size: 2em;
}

.mw-body h2, div#content h2 {
	font-size: 1.5em;
}

.mw-body h3 {
	font-size: 1.2em;
}

.mw-body h4 {
	font-size: 1.1em;
}

.mw-body h5, .mw-body h6 {
	font-size: 1.0em;
}

.mw-body p {
	margin: 0;
}

.mw-body p + p {
	text-indent: 2em;
}

.mw-editsection {
	/* hide more non-content */
	/* display: none; */
	opacity:0.1;
}

table.ambox {
	margin-bottom: 1em;
}

dl dd {
	/* center definitions (most useful for display equations) */
	text-align: center;
}

span.texhtml {
	/* revert inline math to default font */
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Table of Contents */

#toc, .toc {
	border: none;
	padding: 0;
	background: none;
	font-size: inherit;
	/* span 100% of the width */
	display: block;
}

.mw-body #toc h2, .mw-body .toc h2 {
	font-family: inherit;
	font-size: 1.5em;
}

#toc h2, .toc h2 {
	display: block;
}

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align: left;
}

.toctoggle {
	display: none;
}

/* Figures */

div.tright {
	margin: 0.5em 0 0.5em 1.5em;
}

div.tleft {
	margin: 0.5em 1.5em 0.5em 0;
}

/* Code */

.mw-code {
	margin: 1em 0;
}

pre, code {
	font-family: "Latin Modern Mono", monospace !important;
}

sup {
	text-indent: 0;
}
